@font-face {
  font-family: Bariol;
  src: url('/font/Bariol_Regular.otf');
}

@font-face {
  font-family: Bariol;
  font-weight: bold;
  src: url('/font/Bariol_Bold.otf');
}

body {
  font-family: 'Bariol';
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ECEFF1;
  font-size: 10px;
  background-color: #ECEFF1;
}

#app {
  height: 100%;
  display: flex;
}

.inputFocusStyle:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.whiteInputPlaceHolder::-webkit-input-placeholder {color:#fff;}
.whiteInputPlaceHolder::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.whiteInputPlaceHolder:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.whiteInputPlaceHolder:-ms-input-placeholder      {color:#fff;}

.hoverGlow {
  background-color: rgba(38, 50, 56, 1);
}

.hoverGlow:hover {
  background-color: rgba(104, 112, 116, 1);
}

.text {
  word-wrap: break-word;
}

@media screen and (max-device-width: 800px) {

}
