@font-face {
  font-family: Bariol;
  src: url('/font/Bariol_Regular.otf');
}

@font-face {
  font-family: Bariol;
  font-weight: bold;
  src: url('/font/Bariol_Bold.otf');
}

body {
  font-family: 'Bariol';
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ECEFF1;
  font-size: 10px;
  background-color: #ECEFF1;
}

#app {
  height: 100%;
  display: flex;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.cardMoreButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.text {
  word-wrap: break-word;
}

.taskContainer {
  margin-top: 8px;
  min-height: 60px;
}

.example-enter {
  margin-top: 0px;
  min-height: 0px;
  max-height: 0px;
  overflow: hidden;
}

.example-enter.example-enter-active {
  margin-top: 8px;
  min-height: 60px;
  max-height: 100px;
  transition: 700ms;
  overflow: hidden;
}

.example-leave {
  margin-top: 8px;
  min-height: 60px;
  max-height: 100px;
  overflow: hidden;
}

.example-leave.example-leave-active {
  margin-top: 0px;
  max-height: 0px;
  min-height: 0px;
  transition: 700ms;
  overflow: hidden;
}

@media screen and (max-device-width: 800px) {

}
